<h2>Cliente Excluído com Sucesso!</h2>

<button type="button" class="btn btn-primary" onclick="Voltar()">Voltar a Lista</button>
<script>
    function Voltar() {
        window.location.href = '../../Cliente/Index';
    }
</script>